* {
  margin: 0;
  padding: 0;
}

/* .App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

/* form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* label {
  margin-right: 10px;
} */

.form-group {
  display: flex;
  align-items: flex-end;
  margin: 10px;
}

/* .button {
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  margin: 5px;
  border-radius: 10px;
} */
/* .btn-primary {
  background-color: blue;
  color: #fff;
} */
/* .btn-danger {
  background-color: red;
  color: #fff;
} */

input {
  outline: none;
  padding: 5px;
  border-radius: 10px;
  height: 22px;
  width: 200px;
  border: none;

}